body {
  margin: 0;
    
  background: url("../img/964769.png") no-repeat;
  background-color: #b72328;
  background-size: 100% auto;  
    
  font-family: Tahoma;
  line-height: 1.5;
  font-size: 18px;
}

.card{
  width: 40vw;
  margin: 30px auto;
  padding: 20px;
    
  background-color: #fff;
  box-shadow: 0 5px 10px #9d9d9d;
  border-radius: 10px;
}

.card-photo{
  display: block;
  width: 65%;
  height: 65%;
  margin: 0 auto;
  border-radius: 50%;
}

.card-title{
  font-size: 20px;
  text-align: center;
  color: #b72328;
}

.card-title a:link {
  color: #b72328;
  text-decoration: 0;
}

.card-title:hover {
  cursor: pointer;
  background: rgba(183, 35, 40, 0.4);
}

.card-text{
  font-size: 14px;
  text-align: justify;
}

.card-subtitle{
  font-size: 18px;
  color: #b72328;
}

.skill-list {
  display: flex;
  grid-column-gap: 30px;
  justify-content: start;
}

.skill-list ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-position: inside;
  font-size: 14px;
}
